.icon-new {
    color: inherit;
    font-size: 1.8rem;
    height: 3em;
    width: 5em;
    border: 0.2rem solid currentColor;
    border-radius: 50%;
    display: block;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    @include font-text;

    &::before {
        content: 'New';
        text-transform: uppercase;
    }
}
