.icon-new {
    color: inherit;
    font-size: 1.8rem;
    height: 3em;
    width: 5em;
    border: 0.2rem solid currentColor;
    border-radius: 50%;
    display: block;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    @include font-title;
    font-weight: map-get($fontWeight, light);

    &::before {
        content: 'New';
        text-transform: uppercase;
    }

    @include tablet-only {
        font-size: 1.4rem;
    }

    @include phone-only {
        font-size: 1rem;
        border-width: 0.1rem;
    }

    @include phone-s-only {
        font-size: 0.8rem;
        border-width: 0.1rem;
    }

    @include phone-xs-only {
        font-size: 0.7rem;
        border-width: 0.1rem;
    }
}
