%label {
    padding: 0.5em 1rem;
    white-space: nowrap;
    font-size: 1.3rem;
    border-radius: 3em;
}

.Label {
    &__mailto {
        @extend %label;
        pointer-events: none;
        background: var(--color-white);
        color: var(--color-black);
        opacity: 0;
        animation: label-mailto-out var(--speed) linear;
        z-index: map-get($zindex, under-header);
        top: 0;
        left: 0;
        transform-origin: center center;
        transform: translate3d(-100vw, -100vh, 1px);

        &::after {
            font-size: inherit;
            content: '';
            position: absolute;
            left: 1.2em;
            height: 1em;
            width: 1em;
            bottom: -0.8em;
            background: url('../images/bottom-bulle.png') no-repeat center center;
            background-size: 100% auto;
        }

        @include touch {
            background: var(--color-black);
            color: var(--color-white);

            &::after {
                background: url('../images/bottom-bulle-black.png') no-repeat center center;
                background-size: 100% auto;
            }
        }
    }

    &__mailto.is-active {
        animation: label-mailto-in var(--speed) linear;
        opacity: 1;
    }
}

body.mailto-color-inverted .Label__mailto {
    background: var(--color-black);
    color: var(--color-white);
    border: 0.1rem solid var(--color-white);
    &::after {
        background: url('../images/bottom-bulle-black.png') no-repeat center center;
        background-size: 100% auto;
    }
}
