.has-width-100 {
    width: 100%;
}

.has-height-100 {
    height: 100%;
}

.is-h1 {
    font-size: 12rem;
    line-height: 1em;

    @include desktop-only {
        font-size: 9.4rem;
    }

    @include tablet-only {
        font-size: 8rem;
    }

    @include phone-only {
        font-size: 6rem;
    }

    @include phone-s-only {
        font-size: 4.2rem;
    }
}
