$directions: (top, left, bottom, right);
$properties: (margin, padding);

// is-padding-top-1 --> add 1rem on padding top
@include desktop {
    @for $i from 1 through 12 {
        @each $prop in $properties {
            @each $direction in $directions {
                .is-#{$prop}-#{$direction}-#{$i} {
                    #{$prop}-#{$direction}: #{$i}rem;
                }
            }

            .is-#{$prop}-#{$i} {
                #{$prop}: #{$i}rem;
            }
        }
    }
}

@include touch {
    @for $i from 1 through 12 {
        @each $prop in $properties {
            @each $direction in $directions {
                .is-#{$prop}-#{$direction}-#{$i}-touch {
                    #{$prop}-#{$direction}: #{$i}rem;
                }
            }

            .is-#{$prop}-#{$i}-touch {
                #{$prop}: #{$i}rem;
            }
        }
    }
}

// is-padding-top --> add var(--padding-large)
@each $prop in $properties {
    @each $direction in $directions {
        .is-#{$prop}-#{$direction} {
            #{$prop}-#{$direction}: var(--padding-large);
        }
    }
}

.is-padding-center > div {
    width: calc(100vw - (var(--padding-large) * 4));
    margin: 0 auto;
}

.is-margin-center {
    margin-right: var(--padding-large);
    margin-left: var(--padding-large);
}

.has-width-100 {
    width: 100%;
}

.has-height-100 {
    height: 100%;
}

.is-padding-top2x {
    padding-top: 15rem;

    @include tablet-only {
        padding-top: 10rem;
    }

    @include phone {
        padding-top: 8rem;
    }
}

.is-padding-bottom2x {
    padding-bottom: 15rem;

    @include tablet-only {
        padding-bottom: 10rem;
    }

    @include phone {
        padding-bottom: 8rem;
    }
}
