.is-capitalize::first-letter {
    text-transform: capitalize !important;
}

.is-lowercase {
    text-transform: lowercase;
}

.is-uppercase {
    text-transform: uppercase;
}

.has-text-bold {
    font-weight: map-get($fontWeight, medium);
}

.has-text-light {
    font-weight: map-get($fontWeight, light);
}

.has-text-center {
    text-align: center;
}

.has-text-right {
    text-align: right;
}

.has-text-left {
    text-align: left;
}

.has-font-serif {
    @include font-serif;
}

.has-font-text {
    @include font-text;
}

.has-font-title {
    @include font-title;

    &.with-spacing {
        letter-spacing: 0.5rem;
    }
}

.has-font-large-title {
    @include font-title;

    font-size: 10rem;
    line-height: 0.9em;
    font-weight: map-get($fontWeight, light);
    letter-spacing: -0.37rem;

    @include tablet-only {
        font-size: 7rem;
    }

    @include phone-only {
        font-size: 5rem;
        letter-spacing: -0.17rem;
    }

    @include phone-s-only {
        font-size: 3.5rem;
        letter-spacing: -0.17rem;
    }

    @include phone-xs-only {
        font-size: 3rem;
        letter-spacing: -0.17rem;
    }
}

.has-color-white {
    color: var(--color-white);
}

.has-wp-content {
    font-size: 1.4rem;
    line-height: 2rem;

    b,
    strong {
        font-weight: map-get($fontWeight, light);
    }

    a {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            right: 0;
            height: 0.1rem;
            background: var(--color-black);
            bottom: 0;
            width: 100%;
            transition: width var(--speed) var(--easing);
        }

        &:hover::before {
            width: 0;
        }
    }

    p {
        margin-bottom: 1em;
    }
}

.is-h1 {
    font-size: 12rem;
    line-height: 1em;

    @include desktop-only {
        font-size: 9.4rem;
    }

    @include tablet-only {
        font-size: 8rem;
    }

    @include phone-only {
        font-size: 6rem;
    }

    @include phone-s-only {
        font-size: 4.2rem;
    }

    @include phone-xs-only {
        font-size: 3.6rem;
    }
}

.is-h2 {
    font-size: 4.1rem;
    line-height: 1.19em;

    @include desktop-only {
        font-size: 3.8rem;
    }

    @include tablet-only {
        font-size: 3.6rem;
    }

    @include phone-only {
        font-size: 3.6rem;
    }

    @include phone-s-only {
        font-size: 3.4rem;
    }

    @include phone-xs-only {
        font-size: 3rem;
    }
}

.is-h3 {
    font-size: 3.8rem;
    line-height: 1em;

    @include desktop-only {
        font-size: 3.1rem;
    }

    @include tablet-only {
        font-size: 2.8rem;
    }

    @include phone-only {
        font-size: 2.4rem;
    }

    @include phone-s-only {
        font-size: 1.8rem;
    }

    @include phone-xs-only {
        font-size: 1.4rem;
    }
}

.is-h4 {
    font-size: 3.6rem;
    line-height: 1.33em;

    @include desktop-only {
        font-size: 3.2rem;
    }

    @include tablet-only {
        font-size: 3rem;
    }

    @include phone-only {
        font-size: 2.8rem;
    }

    @include phone-s-only {
        font-size: 2.5rem;
    }

    @include phone-xs-only {
        font-size: 2.2rem;
    }
}

.is-h5 {
    font-size: 2.2rem;
    line-height: 1em;

    @include tablet-only {
        font-size: 1.8rem;
    }

    @include phone-only {
        font-size: 1.6rem;
    }

    @include phone-s-only {
        font-size: 1.4rem;
    }

    @include phone-xs-only {
        font-size: 1.4rem;
    }
}
.is-h6 {
    font-size: 1.6rem;
    line-height: 1em;

    @include desktop-only {
        font-size: 1.6rem;
    }

    @include tablet-only {
        font-size: 1.4rem;
    }

    @include phone-only {
        font-size: 1.4rem;
    }

    @include phone-s-only {
        font-size: 1.2rem;
    }

    @include phone-xs-only {
        font-size: 1rem;
    }
}
