.Home {
    background-color: var(--color-grey);
    &__picture,
    &__introduction {
        z-index: map-get($zindex, section);
        background-color: var(--color-grey);
    }

    &__about {
        font-size: 2rem;
        line-height: 1.65em;

        @include touch {
            font-size: 1.8rem;
        }

        &--right {
            padding-bottom: 30rem;

            @include phone {
                padding-bottom: 8rem;
                padding-top: 8rem;
            }
        }

        &--right .is-column:first-child {
            max-width: 45rem;
        }
    }

    &__scrollingCircle {
        font-size: 1rem;
        height: 18em;
        width: 18em;
        z-index: map-get($zindex, base);
        bottom: var(--padding-large);
        left: var(--padding-large);
        padding: 1.6em;

        @include tablet-only {
            font-size: 0.6rem;
        }

        @include phone {
            display: none !important;
        }

        &--rotate {
            background: url(../../assets/images/worldwide.png) center center no-repeat;
            background-size: cover;
        }
    }

    &__skills {
        font-size: 6.1rem;
        line-height: 1.18em;

        @include phone {
            font-size: 3.2rem;
            padding-bottom: 0;
        }
    }

    &__last {
        background: var(--color-white);
        padding-top: 30rem;

        @include phone {
            padding-bottom: 8rem;
            padding-top: 8rem;
        }

        &--catchline {
            max-width: 45rem;
        }

        &--video {
            padding-top: 115%;
            background: var(--color-grey);
            font-size: 10rem;
            line-height: 1em;

            @include phone {
                font-size: 5.8rem;
            }

            video,
            picture {
                object-fit: cover;
                top: 0;
                left: 0;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: map-get($zindex, under-section);
            }
        }

        .icon-new {
            top: 0;
            right: 0;
            z-index: map-get($zindex, above-section);
        }

        &--project {
            bottom: 0;
            z-index: map-get($zindex, above-section);
        }
    }

    &__links {
        line-height: 1.65em;
        background-color: var(--color-white);
        min-height: 100vh;

        &--title {
            font-size: 10rem;
            line-height: 1em;
            font-weight: map-get($fontWeight, light);

            @include tablet-only {
                font-size: 7rem;
            }

            @include phone-only {
                font-size: 5rem;
            }

            @include phone-s-only {
                font-size: 3.5rem;
            }

            @include phone-xs-only {
                font-size: 3rem;
            }
        }

        a,
        button {
            cursor: pointer;
        }
    }
}
