.Home {
    background-color: var(--color-grey);

    &__introduction {
        background-color: var(--color-white);

        h1,
        p {
            z-index: map-get($zindex, section);
        }

        &--title {
            height: 1em;
            overflow: hidden;
            white-space: pre;
            margin-right: 1rem;
        }

        &--background {
            background-color: var(--color-grey);
            top: 0;
            left: 0;
            z-index: map-get($zindex, under-section);
            transform-origin: bottom center;
        }
    }

    &__picture {
        overflow: hidden;
        z-index: map-get($zindex, section);
        background-color: var(--color-grey);

        picture.is-hidden {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        &--circle {
            transform: scale(0);

            img {
                opacity: 0.2;
                animation: rotate 8s infinite linear;
            }
        }

        &--canvas {
            width: 100%;
            height: auto;
            background-size: 100% auto;
            background-position: top center;
            background-repeat: no-repeat;
            @include touch {
                display: none;
            }
        }
    }

    &__about {
        z-index: map-get($zindex, under-section);
        font-size: 2rem;
        line-height: 1.65em;

        @include touch {
            font-size: 1.8rem;
        }

        &--right {
            padding-bottom: 30rem;

            @include phone {
                padding-bottom: 8rem;
                padding-top: 8rem;
            }
        }

        &--left {
            margin: -18em 0;
        }
    }

    &__scrollingCircle {
        font-size: 1rem;
        height: 18em;
        width: 18em;
        z-index: map-get($zindex, base);
        padding: 2.5em;
        top: calc(100vh - 18em - var(--padding-large));

        @include tablet-only {
            font-size: 0.6rem;
        }

        @include phone {
            display: none !important;
        }

        &--rotate {
            background: url(../../assets/images/worldwide.png) center center no-repeat;
            background-size: cover;
        }
    }

    &__skills {
        font-size: 6.1rem;
        line-height: 1.18em;

        @include phone {
            font-size: 3.2rem;
            padding-bottom: 0;
        }

        > div {
            letter-spacing: -0.28rem;
        }
    }

    &__column {
        letter-spacing: -0.14rem;

        span {
            letter-spacing: 0;
        }
    }

    &__last {
        background: var(--color-white);
        padding-top: 30rem;

        @include phone {
            padding-bottom: 8rem;
            padding-top: 8rem;
        }

        &--catchline {
            max-width: 90rem;
            line-height: 1.13em;
        }

        &--video {
            padding-top: 75%;
            background: var(--color-grey);
            font-size: 10rem;
            line-height: 1em;

            @include phone {
                font-size: 5.8rem;
            }
        }

        video,
        picture {
            object-fit: cover;
            top: 0;
            left: 0;
            position: absolute;
            height: 100% !important;
            width: 100% !important;
            z-index: map-get($zindex, under-section);
        }

        .icon-new {
            top: 0;
            right: 0;
            z-index: map-get($zindex, above-section);
        }

        &--project {
            bottom: 0;
            z-index: map-get($zindex, above-section);
        }
    }

    &__links {
        line-height: 1.65em;
        background-color: var(--color-white);
        padding-top: 20vh;

        &--title {
            font-size: 10rem;
            line-height: 0.9em;
            font-weight: map-get($fontWeight, light);
            letter-spacing: -0.37rem;

            @include tablet-only {
                font-size: 7rem;
            }

            @include phone-only {
                font-size: 5rem;
                letter-spacing: -0.17rem;
            }

            @include phone-s-only {
                font-size: 3.5rem;
                letter-spacing: -0.17rem;
            }

            @include phone-xs-only {
                font-size: 3rem;
                letter-spacing: -0.17rem;
            }
        }

        a,
        button {
            cursor: pointer;
        }
    }

    &__showreel {
        bottom: 0;
        left: 0;
        height: 100vh;
        z-index: map-get($zindex, above-all);
        padding: var(--padding-large);
        transform: scaleY(0);
        transform-origin: bottom center;

        &.is-active {
            transform: scaleY(1);
        }

        &--close {
            top: calc(var(--padding-large) * 0.5);
            cursor: pointer;
            z-index: map-get($zindex, above-section);
            color: rgba(0, 0, 0, 0.2);

            @include touch {
                top: var(--padding-large);
                width: 100%;
            }
        }

        &--wording {
            z-index: map-get($zindex, above-section);
            pointer-events: none;
            opacity: 0;

            span {
                transition: opacity var(--speed) var(--easing);
                opacity: 0;
            }

            &.is-active span {
                opacity: 1;
            }
        }

        &--background {
            background: var(--color-grey);
            left: 0;
            transform-origin: bottom center;
            top: 0;
        }

        video {
            transform-origin: center center;
            cursor: pointer;
            z-index: map-get($zindex, section);
            background-color: var(--color-white);
        }
    }
}

body.not-loaded .Home {
    .Home__introduction--title {
        width: 0;
    }

    h1 {
        transform: translateY(calc(50vh - 1em - var(--padding-large)));
    }

    .Home__introduction--background {
        transform: scale(0);
    }
}
