.Home {
    background-color: var(--color-grey);

    &__introduction {
        background-color: var(--color-white);
        padding-bottom: 10rem;

        h1 {
            z-index: map-get($zindex, above-section);
        }

        .js-introduction-header {
            z-index: map-get($zindex, section);
            will-change: transform;

            span {
                will-change: opacity;
            }
        }

        &--title {
            height: 1em;
            overflow: hidden;
            white-space: pre;
            margin-right: 1rem;
        }

        &--background {
            background-color: var(--color-grey);
            top: 0;
            left: 0;
            z-index: map-get($zindex, under-section);
            transform-origin: bottom center;
        }
    }

    &__picture {
        overflow: hidden;
        z-index: map-get($zindex, under-section);
        background-color: var(--color-grey);

        picture {
            position: relative;
            z-index: map-get($zindex, section) + 1;
            transition: opacity calc(var(--speed) * 4) var(--easing);
        }

        picture .background {
            display: none;
        }

        picture.is-hidden {
            opacity: 0;
            pointer-events: none;
        }

        &--circle {
            transform: scale(0);
            z-index: map-get($zindex, above-section);
            will-change: transform;

            img {
                opacity: 0.2;
                animation: rotate 8s infinite linear;
                will-change: transform;
            }
        }

        &--canvas {
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            background-size: 100% auto;
            background-position: top center;
            background-repeat: no-repeat;
            z-index: map-get($zindex, section);
        }
    }

    &__about {
        background-color: var(--color-grey);
        z-index: map-get($zindex, base);
        font-size: 2rem;
        line-height: 1.65em;

        @include touch {
            font-size: 1.8rem;
        }

        &--title {
            font-size: 29vw;
            z-index: map-get($zindex, above-section);
            bottom: 5rem;
            line-height: 0.7em;
        }

        &--right {
            padding-bottom: 30rem;

            @include phone {
                padding-bottom: 8rem;
            }
        }

        &--firtText {
            letter-spacing: -0.02rem;
        }
    }

    &__scrollingCircle {
        font-size: 1rem;
        height: 18em;
        width: 18em;
        z-index: map-get($zindex, under-header);
        padding: 2.5em;

        @include tablet-only {
            font-size: 0.6rem;
        }

        @include phone {
            display: none !important;
        }

        &::after {
            content: '';
            background: var(--color-grey);
            height: 22.5em;
            width: 22.5em;
            position: absolute;
            border-radius: 50%;
            z-index: map-get($zindex, section);
            transform: scale(0.9);
            transition: transform calc(var(--speed) * 2);
        }

        img {
            z-index: map-get($zindex, above-section);
        }

        &--email {
            @extend %label;
            font-size: 1.6rem;
            background: var(--color-grey);
            color: var(--color-black);
            border: 0.1rem solid var(--color-black);
            z-index: map-get($zindex, under-header);
            opacity: 0;
            transform: scale(0.95);
            transition: opacity calc(var(--speed) * 0.5) var(--easing), transform var(--speed) var(--easing);
        }

        &:hover::after {
            transform: scale(1);
        }

        &:hover &--email {
            opacity: 1;
            transform: scale(1);
        }

        &--rotate {
            font-size: 1rem;
            height: 18em;
            width: 18em;

            @include tablet-only {
                font-size: 0.6rem;
            }
        }
    }

    &__skills {
        font-size: 6.1rem;
        line-height: 1.18em;

        @include phone {
            font-size: 3.2rem;
            padding-bottom: 0;
        }

        > div {
            letter-spacing: -0.28rem;
        }
    }

    &__column {
        letter-spacing: -0.14rem;

        span {
            letter-spacing: 0;
        }
    }

    &__last {
        background: var(--color-white);
        padding-top: 30rem;

        @include phone {
            padding-bottom: 8rem;
            padding-top: 8rem;
        }

        &--catchline {
            max-width: 90rem;
            line-height: 1.13em;
            letter-spacing: -0.14rem;
        }

        &--video {
            padding-top: 75%;
            background: var(--color-grey);
            font-size: 10rem;
            line-height: 1em;

            @include phone {
                font-size: 5.8rem;
                padding-top: 125%;
            }
        }

        video,
        picture {
            object-fit: cover;
            top: 0;
            left: 0;
            position: absolute;
            height: 100% !important;
            width: 100% !important;
            z-index: map-get($zindex, under-section);
        }

        .icon-new {
            top: 0;
            right: 0;
            z-index: map-get($zindex, above-section);
        }

        &--project {
            bottom: 0;
            z-index: map-get($zindex, above-section);
        }
    }

    &__links {
        line-height: 1.65em;
        background-color: var(--color-white);
        min-height: 100vh;
        padding-top: vh(30);

        &--title {
            strong,
            span::after {
                display: block;
                font-weight: map-get($fontWeight, light);
                transition: transform calc(var(--speed) * 3) var(--easing);
            }

            span {
                overflow: hidden;
                height: 0.9em;
            }

            span::after {
                content: attr(data-content);
                position: absolute;
                transform: translateX(100%);
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
            }

            &:hover {
                strong {
                    transform: translateX(-100%);
                }
                span::after {
                    transform: translateX(0);
                }
            }

            span:last-of-type::after {
                transform: translateX(-100%);
            }

            &:hover span:last-of-type {
                &::after {
                    transform: translateX(0%);
                }
                strong {
                    transform: translateX(100%);
                }
            }
        }

        a,
        button {
            cursor: pointer;
        }
    }

    &__showreel {
        top: 0;
        left: 0;
        height: 100vh;
        height: vh(100);
        z-index: map-get($zindex, above-all);
        padding: var(--padding-large);
        transform: scaleY(0);
        transform-origin: bottom center;
        @include touch {
            position: fixed;
        }
        &.is-active {
            transform: scaleY(1);
        }

        &--close {
            top: calc(var(--padding-large) * 0.5);
            cursor: pointer;
            z-index: map-get($zindex, above-section);
            color: rgba(0, 0, 0, 0.2);

            @include touch {
                top: var(--padding-large);
                width: 100%;
            }
        }

        &--wording {
            z-index: map-get($zindex, above-section);
            pointer-events: none;
            opacity: 0;

            span {
                background-color: rgba(0, 0, 0, 0.4);
                color: var(--color-white);
                transition: opacity var(--speed) var(--easing);
                opacity: 0;
            }

            &.is-active span {
                opacity: 1;
            }
        }

        &--background {
            background: var(--color-grey);
            left: 0;
            transform-origin: bottom center;
            top: 0;
        }

        video {
            transform-origin: center center;
            cursor: pointer;
            z-index: map-get($zindex, section);
            background-color: var(--color-white);
        }
    }

    .Footer {
        background-color: var(--color-white);
    }
}

body.not-loaded .Home {
    .Home__introduction--title {
        width: 0;
    }

    h1 {
        transform: translate3d(0, calc(#{vh(50)} - 1em - var(--padding-large)), 0);
    }

    .Home__introduction--background {
        transform: scale(0);
    }
}
