.Lab {
    background-color: var(--color-white);
    color: var(--color-white);

    &__introduction {
        h1,
        &--sentence {
            z-index: map-get($zindex, section);
        }

        &--sentence {
            margin: auto;
            max-width: map-get($breakpoints, desktop);
        }

        &--title {
            height: 1em;
            overflow: hidden;
            white-space: pre;
        }

        &--background {
            background-color: var(--color-black);
            top: 0;
            left: 0;
            z-index: map-get($zindex, under-section);
            transform-origin: bottom center;
        }
    }

    &__content {
        background-color: var(--color-black);
    }

    &__row {
        @include tablet {
            &:nth-of-type(2n) {
                justify-content: center;
            }

            &:nth-of-type(3n) {
                justify-content: flex-end;
            }
        }
    }

    &__media {
        width: 100%;
        @include tablet {
            width: 50%;
        }
    }
}

body.not-loaded .Lab {
    h1 {
        transform: translateY(calc(50vh - 1em - var(--padding-large)));
        color: var(--color-black);
    }

    &__introduction--sentence {
        transform: translateY(100vh);
    }

    &__introduction--background {
        transform: scaleY(0);
    }
}
