.Lab {
    background-color: var(--color-black);
    color: var(--color-grey);

    &__introduction {
        background-color: var(--color-white);

        &--header {
            z-index: map-get($zindex, section);
            span {
                will-change: opacity;
            }
        }

        &--sentence {
            margin: auto;
            max-width: map-get($breakpoints, desktop);
            color: var(--color-grey);
        }

        &--title {
            height: 1em;
            overflow: hidden;
            white-space: pre;
        }

        &--background {
            background-color: var(--color-black);
            top: 0;
            left: 0;
            z-index: map-get($zindex, under-section);
            transform-origin: bottom center;
            height: 110%;
        }
    }

    &__content {
        padding-bottom: 25rem;
    }

    &__row {
        @include tablet {
            &:nth-of-type(even) {
                justify-content: center;
            }

            &:nth-of-type(4n + 3) {
                justify-content: flex-end;
            }
        }
    }

    &__media {
        width: 100%;

        @include tablet {
            width: 50%;
        }
    }
}

body.not-loaded .Lab {
    h1 {
        transform: translate3d(0, calc(50vh - 1em - var(--padding-large)), 0);
        color: var(--color-black);
    }

    &__introduction--sentence {
        transform: translate3d(0, 100vh, 0);
    }

    &__introduction--background {
        transform: scaleY(0);
    }
}
