.Project {
    font-size: 1.4rem;
    line-height: 1.4em;

    h1 {
        max-width: 80%;
        @include touch {
            max-width: 100%;
        }
    }

    &.appear-in .Project__content {
        display: none;
    }
}

.Project__background {
    top: 0;
    left: 0;
    z-index: map-get($zindex, under-section);
    transform-origin: top center;
}

.Project__introduction {
    padding-bottom: 5rem;

    @include desktop {
        padding-bottom: 20rem;
    }

    h2 {
        padding-bottom: 0.8rem;
    }

    p {
        opacity: 0.8;
    }
}

.Project__cover {
    height: 100vh;
    @include picture-cover;
}

.Project__row {
    background: var(--color-white);
    z-index: map-get($zindex, section);

    &--columns {
        padding: calc(var(--padding-large) * 2) var(--padding-large) calc(var(--padding-large) * 3) var(--padding-large);

        @include desktop {
            padding-top: 12rem;
            padding-bottom: 15rem;
        }

        p:first-of-type {
            padding-bottom: 0.8rem;
        }
    }

    &--text {
        strong {
            @include font-title;
            margin-top: 3.2rem;
            margin-bottom: 0.8rem;
            display: block;
        }
    }

    &--quote,
    &--text {
        color: var(--color-grey-light);
        padding: 20rem var(--padding-large);

        @include touch {
            padding-top: var(--padding);
            padding-bottom: var(--padding);
        }
    }

    &--quote {
        font-size: 1.6rem;
        line-height: 1.2em;
    }
}

.Project__next {
    min-height: 100vh;

    h2 {
        max-width: 80%;
        @include touch {
            max-width: 100%;
        }
    }

    &--video {
        top: 0;
        left: 0;
        height: 100vh;
        @include picture-cover;
    }

    video {
        height: 100% !important;
        width: 100% !important;
    }

    &--wording {
        margin-top: -5rem;
        transition: opacity var(--speed) var(--easing);

        @include touch {
            margin-top: -3rem;
        }
    }

    a.is-active &--wording {
        opacity: 0;
    }
}

body.not-loaded .Project {
    .js-project-intro,
    h1 {
        transform: translateY(100vh);
    }

    .Project__background {
        transform: scaleY(0);
    }
}
