.Project {
    font-size: 1.4rem;
    line-height: 1.4em;

    h1 {
        white-space: nowrap;
    }

    &.appear-in {
        position: absolute;
        top: 0;
        left: 0;
        z-index: map-get($zindex, above-section);
    }
}

.Project__background {
    top: 0;
    left: 0;
    will-change: height;
}

.Project__introduction {
    padding-bottom: 5rem;

    @include desktop {
        padding-bottom: 20rem;
    }

    h2 {
        padding-bottom: 0.8rem;
    }

    p {
        opacity: 0.8;
    }
}

.Project__cover {
    height: 100vh;

    picture {
        height: 100%;
        width: 100%;
        padding-top: 0 !important;
    }

    img {
        position: fixed;
        object-fit: cover;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.Project__row {
    background: var(--color-white);

    &--columns {
        padding: calc(var(--padding-large) * 2) var(--padding-large) calc(var(--padding-large) * 3) var(--padding-large);

        @include desktop {
            padding-top: 12rem;
            padding-bottom: 15rem;
        }

        p:first-of-type {
            padding-bottom: 0.8rem;
        }
    }

    &--text {
        padding: 20rem var(--padding-large);

        @include touch {
            padding-top: var(--padding);
            padding-bottom: var(--padding);
        }

        strong {
            @include font-title;
            margin-top: 3.2rem;
            margin-bottom: 0.8rem;
            display: block;
        }
    }
}
