.js-fade-item,
.Work__project--cover,
.Work__project--galery,
.Work__project--galery picture,
.Work .icon-new {
    transition: opacity var(--speed) var(--easing);
}

.Work {
    &__project {
        color: var(--color-grey);
        transition: color var(--speed) var(--easing);
        max-width: 80%;
        @include touch {
            max-width: 100%;
        }

        &--title {
            width: 100%;
            z-index: map-get($zindex, section);
        }

        &--cover {
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            z-index: map-get($zindex, base);
            background-color: var(--color-white);

            @include picture-cover;
        }

        &--galery {
            width: 20%;
            left: 0;
            opacity: 0;
            z-index: map-get($zindex, section);

            picture {
                position: absolute;
            }
        }
    }

    .icon-new {
        left: -6em;
        top: -0.8em;
        bottom: 0;
        margin: auto;
    }

    &__project:hover,
    &__project.is-active {
        color: var(--color-black);

        .Work__project--cover {
            opacity: 1;
        }
    }

    &__other {
        height: 100vh;
        font-size: 2rem;
        line-height: 1.4em;

        @include tablet-only {
            font-size: 1.8rem;
        }

        @include phone-only {
            font-size: 1.6rem;
        }

        @include phone-s-only {
            font-size: 1.4rem;
        }

        @include phone-xs-only {
            font-size: 1.4rem;
        }

        p {
            max-width: 58rem;
        }
    }
}
