.js-fade-item,
.Work .icon-new {
    transition: opacity var(--speed) var(--easing);
}

.Work__project--galery,
.Work__project--cover,
.Work__project--galery picture {
    transition: opacity var(--coverSpeed) var(--easing);
}

.Work {
    &__project {
        color: var(--color-grey);
        transition: color var(--coverSpeed) var(--easing);
        max-width: 80%;

        @include touch {
            max-width: 100%;
        }

        &--title {
            width: 100%;
            z-index: map-get($zindex, section);
        }

        &--cover {
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            z-index: map-get($zindex, base);
            background-color: var(--color-white);
            height: 100vh;
            @include picture-cover;

            video {
                transition: opacity calc(var(--coverSpeed) * 0.5) var(--easing);
                opacity: 0;
                height: 100% !important;
                width: 100% !important;
            }
        }

        &--galery {
            width: 20%;
            max-width: 26.2rem;
            height: 16rem;
            left: 0;
            opacity: 0;
            z-index: map-get($zindex, section);
            margin-top: -1rem;

            @include widescreen-only {
                max-width: 23rem;
                height: 14rem;
            }

            @include desktop-only {
                max-width: 20rem;
                height: 12rem;
            }

            @include touch {
                display: none;
            }

            picture {
                position: absolute;
                padding-top: 0 !important;
                width: 100%;
                height: 100%;
                overflow: hidden;
                opacity: 0;
                top: 0;
                left: 0;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: auto;
            }

            .background {
                display: none;
            }
        }
    }

    .icon-new {
        left: -6em;
        top: -0.8em;
        bottom: 0;
        margin: auto;
    }

    &__project:hover,
    &__project.is-active {
        color: var(--color-black);
    }

    &__other {
        height: 100vh;
        font-size: 2rem;
        line-height: 1.4em;

        @include tablet-only {
            font-size: 1.8rem;
        }

        @include phone-only {
            font-size: 1.6rem;
        }

        @include phone-s-only {
            font-size: 1.4rem;
        }

        @include phone-xs-only {
            font-size: 1.4rem;
        }

        p {
            max-width: 58rem;
        }
    }
}
