.js-fade-item,
.Work__project--cover {
    transition: opacity var(--speed) var(--easing);
}

.Work {
    &__project {
        color: var(--color-grey);
        transition: color var(--speed) var(--easing);

        &--title {
            // white-space: nowrap;
            width: 100%;
            z-index: map-get($zindex, section);
        }

        &--cover {
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            z-index: map-get($zindex, base);
        }
    }

    &__project:hover,
    &__project.is-active {
        color: var(--color-black);

        .Work__project--cover {
            opacity: 1;
        }
    }

    &__other {
        height: 100vh;
        font-size: 2rem;
        line-height: 1.4em;

        @include tablet-only {
            font-size: 1.8rem;
        }

        @include phone-only {
            font-size: 1.6rem;
        }

        @include phone-s-only {
            font-size: 1.4rem;
        }

        p {
            max-width: 58rem;

            @include phone {
                // padding-left: 10%;
            }
        }
    }
}
