:root {
    --vh: 1vh;

    --padding-large: 9rem;
    --padding: 5rem;

    --color-black: #000;
    --color-blackFaded: rgba(0, 0, 0, 0.2);
    --color-white: #fff;
    --color-grey-light: #878787;
    --color-grey: #c9c9c9;
    --color-greyDarker: #313131;
    --color-greyNavOnProject: #949494;

    --bezier: cubic-bezier(0.59, 0.01, 0.4, 0.98);
    --easing: ease-in-out;
    --speed: 250ms;
    --coverSpeed: 100ms;

    --font-serif: 'Canela', 'Times new Roman', Times, serif;
    --font-text: 'Maison Neue', Helvetica, Arial, sans-serif;
    --font-title: 'Adieu', Helvetica, Arial, sans-serif;
}

@include tablet-only {
    :root {
        --padding-large: 6rem;
    }
}

@include phone-only {
    :root {
        --padding-large: 3.5rem;
    }
}

@include phone-s-only {
    :root {
        --padding-large: 2.5rem;
    }
}

@include phone-xs-only {
    :root {
        --padding-large: 2rem;
    }
}
