@font-face {
    font-family: 'Maison Neue';
    src: url($font-path + 'MaisonNeue-Medium.woff2') format('woff2'),
        url($font-path + 'MaisonNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue';
    src: url($font-path + 'MaisonNeue-Book.woff2') format('woff2'),
        url($font-path + 'MaisonNeue-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue';
    src: url($font-path + 'MaisonNeue-Light.woff2') format('woff2'),
        url($font-path + 'MaisonNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue';
    src: url($font-path + 'MaisonNeue-Demi.woff2') format('woff2'),
        url($font-path + 'MaisonNeue-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canela';
    src: url($font-path + 'Canela-Thin.woff2') format('woff2'),
        url($font-path + 'Canela-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue';
    src: url($font-path + 'MaisonNeue-Bold.woff2') format('woff2'),
        url($font-path + 'MaisonNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adieu';
    src: url($font-path + 'Adieu-Light.woff2') format('woff2'),
        url($font-path + 'Adieu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Adieu';
    src: url($font-path + 'Adieu-Bold.woff2') format('woff2'),
        url($font-path + 'Adieu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
