@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes black-to-white {
    0% {
        color: var(--color-black);
    }

    50% {
        color: var(--color-white);
    }

    100% {
        color: var(--color-black);
    }
}
