@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes label-mailto-in {
    0% {
        opacity: 0;
        margin-top: 0.5rem;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes label-mailto-out {
    0% {
        opacity: 1;
        margin-top: 0;
    }

    100% {
        opacity: 0;
        margin-top: -1.5rem;
    }
}
