@mixin object-fit($value: cover) {
    height: 100%;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    object-fit: $value;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin picture-cover {
    picture {
        height: 100%;
        width: 100%;
        padding-top: 0 !important;
    }

    img,
    video {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;

    @media (max-#{$dimension}: #{$min-breakpoint}) {
        font-size: $min;
    }

    @if $max {
        $max-breakpoint: $max / $responsive-unitless * 100;

        @media (min-#{$dimension}: #{$max-breakpoint}) {
            font-size: $max;
        }
    }

    @if $fallback {
        font-size: $fallback;
    }

    font-size: $responsive;
}

@mixin font-title {
    font-family: var(--font-title);
    font-weight: map-get($fontWeight, bold);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

@mixin font-text {
    font-family: var(--font-text);
    font-weight: map-get($fontWeight, thin);
}

@mixin font-serif {
    font-family: var(--font-serif);
    font-weight: map-get($fontWeight, light);
}
