@mixin object-fit($value: cover) {
    height: 100%;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    object-fit: $value;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;

    @media (max-#{$dimension}: #{$min-breakpoint}) {
        font-size: $min;
    }

    @if $max {
        $max-breakpoint: $max / $responsive-unitless * 100;

        @media (min-#{$dimension}: #{$max-breakpoint}) {
            font-size: $max;
        }
    }

    @if $fallback {
        font-size: $fallback;
    }

    font-size: $responsive;
}

@mixin font-title {
    font-family: $font-title;
    font-weight: map-get($fontweight, bold);
    text-transform: uppercase;
}

@mixin font-text {
    font-family: $font-text;
    font-weight: map-get($fontweight, light);
}

@mixin font-serif {
    font-family: $font-serif;
    font-weight: map-get($fontweight, thin);
}
