html {
    line-height: 1;
    -webkit-text-size-adjust: none;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    position: relative;
    color: var(--color-black);
    @include font-text;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

body.loading,
body.loading * {
    cursor: wait !important;
}

main.locked {
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

.container {
    width: 100%;
    position: relative;
    display: block;
    z-index: map-get($zindex, section);
    margin: 0 auto;
    padding: 0 var(--padding-large);
}

.section-top {
    padding-top: 50vh;
    min-height: 100vh;
}
