.Footer {
    transition: color var(--coverSpeed) var(--easing);
    padding: var(--padding-large);
    height: 100vh;
    height: vh(100);

    &__video,
    &__wording {
        top: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;
        width: 100vw;
        height: vh(100);

        transition: opacity var(--coverSpeed) var(--easing);
        will-change: opacity;

        @include touch {
            display: none;
        }
    }

    &__video {
        z-index: map-get($zindex, under-section);
        background: var(--color-black);

        video {
            height: 100% !important;
            width: 100% !important;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__wording {
        font-size: 6.5rem;
        line-height: 6.5rem;
        text-align: center;
        color: var(--color-white);
        z-index: map-get($zindex, section);
    }

    ul {
        z-index: map-get($zindex, section);
    }

    a {
        @include desktop {
            font-size: 2.2rem;
        }
    }

    button,
    a {
        cursor: pointer;
        z-index: map-get($zindex, section);
    }
}

.js-mailto.email-is-hover {
    .js-mailto-video,
    .js-mailto-wording {
        opacity: 1;
    }
}

@include desktop {
    body.email-is-hover .Footer {
        color: var(--color-white);
    }

    body.page-template-page-lab .Footer {
        background: var(--color-black);
    }
}
