.Navbar {
    padding: 0;
    font-size: 1.6rem;
    z-index: map-get($zindex, header);
    transition: opacity var(--speed) var(--easing);
    top: var(--padding-large);

    @include touch {
        position: fixed;
    }

    @include tablet-only {
        font-size: 1.5rem;
    }

    @include tablet-only {
        font-size: 1.4rem;
    }

    @include phone {
        font-size: 1.2rem;
    }

    ul {
        justify-content: space-between;
        padding: 0 var(--padding-large);
        height: 0;
    }

    li {
        opacity: 0;
    }

    a {
        transition: color var(--speed) var(--easing), opacity var(--speed) var(--easing);
    }

    a.is-active {
        pointer-events: none;
        color: var(--color-blackFaded);
    }

    a:not(.is-active):hover {
        opacity: 0.6;
    }
}

.Navbar__Loading {
    background: var(--color-white);
    height: 0.8rem;
    top: 0;
    left: 0;
    z-index: map-get($zindex, above-all);
    right: 100%;
    mix-blend-mode: difference;

    @include touch {
        position: fixed;
        height: 0.4rem;
    }

    &.is-loading {
        transition: right 3s var(--easing);
        right: 50%;

        @include touch {
            right: 30%;
        }
    }

    &.is-over-loading {
        right: 0;
        left: 100%;
        transition: background var(--speed) ease-in-out, right 0.5s var(--easing), left 0.5s 0.5s var(--easing);
    }
}

body.email-is-hover .Navbar a {
    color: var(--color-white);
}

body.showreel-open .Navbar {
    opacity: 0;
    pointer-events: none;
}

body[data-page='lab'] .Navbar a {
    color: var(--color-white);

    &.is-active {
        color: var(--color-greyDarker);
    }
}

body[data-page='project'] .Navbar a {
    color: var(--color-greyNavOnProject);
}
