.Navbar {
    padding: var(--padding-large) 0;
    font-size: 1.6rem;

    @include tablet-only {
        font-size: 1.5rem;
    }

    @include tablet-only {
        font-size: 1.4rem;
    }

    @include phone {
        font-size: 1.2rem;
    }

    a {
        transition: color var(--speed) var(--easing);
    }

    a.is-active {
        pointer-events: none;
        color: var(--color-blackFaded);
    }

    li {
        z-index: map-get($zindex, header);
    }

    li:first-child {
        left: var(--padding-large);
    }

    li:last-child {
        right: var(--padding-large);
    }
}

body.single .Navbar a {
    color: var(--color-grey);
}
