.Navbar {
    z-index: map-get($zindex, header);
    padding: var(--padding-large);

    a {
        transition: color var(--speed) var(--easing);
    }

    a.is-active {
        pointer-events: none;
        color: var(--color-blackFaded);
    }
}

body.single .Navbar a {
    color: var(--color-grey);
}
